# roles/netbox/templates/netbox-rq.service.j2 v1.1
# {{ ansible_managed }}
[Unit]
Description=NetBox RQ Worker
Documentation=https://docs.netbox.dev/
After=network-online.target postgresql-15.service redis.service
Wants=network-online.target postgresql-15.service redis.service

[Service]
Type=simple
User={{ netbox_user }}
Group={{ netbox_group }}
WorkingDirectory={{ netbox_dir }}/netbox
ExecStart={{ netbox_venv }}/bin/python3 {{ netbox_dir }}/netbox/manage.py rqworker

[Install]
WantedBy=multi-user.target
