# roles/netbox/handlers/main.yml v1.2
---
- name: restart postgresql
  ansible.builtin.systemd:
    name: postgresql-15
    state: restarted

- name: restart nginx
  ansible.builtin.systemd:
    name: nginx
    state: restarted
    
- name: restart redis
  ansible.builtin.systemd:
    name: redis
    state: restarted

- name: reload systemd
  ansible.builtin.command: systemctl daemon-reload

- name: restart netbox services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: restarted
  with_items:
    - netbox
    - netbox-rq
